html{
    height: 100%;
}
.navbar-light .navbar-brand{
    color: black;
}

body{
    background-image: url(../image/bg.png);
    background-size: cover;
    background-position: center;
    font-family: catamaran;
}
.center{
    text-align: center;
    padding-top: 15%;
}
h1, p{
    color: white;
}
h2>span{
    color: white;
}
.col-mod-12{
    margin-left: 14px;
}
#login{
    min-width: 250px;
    background-color: rgba(255,255,255,0.7);
    padding: 14px 14px 0;
    overflow: hidden;
}
#login .social-buttons{
    margin: 12px 0;
    margin-left: 0px;
}
.btn-fb{
    color: black;
    background-color: #3b599d;
}
.btn-tw{
    color: black;
    background-color: #55acee;
    margin-left: 10px;
}


@media (max-width:768px) {
    h1{
        background-color: #449d44;
    }
    h2{
        background-color: #449d44;
    }
}
@media (min-width:768px) {
    h1{
        background-color: skyblue;
        opacity: 0.8;
    }
}